<body style="background: #f2f2f2;">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3" style="margin-top: 66px;">
        <div class="form-container">
          <div class="form">
            <div class="form-title">
              <h2>Sign up</h2>
            </div>
            <div class="sign-up-form">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :first_name,
                required: true,
                label: false,
                placeholder: 'first name' %>
                <%= f.input :last_name,
                required: true,
                label: false,
                placeholder: 'last name' %>
                <%= f.input :display_name,
                required: true,
                label: false,
                placeholder: 'display name' %>
                <%= f.input :photo %>
                <%= f.input :photo_cache, as: :hidden %>
                <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" },
                label: false,
                placeholder: 'email'%>
                <%= f.input :password,
                required: true,
                label: false,
                placeholder: 'password',
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                required: true,
                label: false,
                placeholder: 'password confirmation',
                input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign up", class: 'button button-dark' %>
              </div>
              <% end %>
            </div>

            <div class="devise-links">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
