<div class="container">
  <div class="row">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <div class="form-container">
        <div class="form">
          <div class="form-title">
            <h2>Forgot your password?</h2>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class: 'button-dark' %>
          </div>
          <% end %>
          <div class="devise-links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
