<h1 id="video-title" data-video="<%= @video.id %>"><%= @video.name %></h1>
<p>by: <%= @video.user.email %></p>

<% if current_user %>
<% if policy(@video).destroy? %>
<%= link_to "Edit video", edit_video_path(@video.url) %>
<%= link_to "Delete video", video_path(@video.url), method: :delete %>
<% end %>
<% end %>

<video id="video"  class="video-js vjs-default-skin" controls autoplay>
  <source
  src="https://content.jwplatform.com/manifests/yp34SRmf.m3u8"
  type="application/x-mpegURL">
</video>
<p>Views: <%= @video.views %></p>

