<body style="background: #131418">
  <div class="container">
  <div class="row">
    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-10 offset-md-1" style="margin-top: 66px;">
      <div class="video-show" style="display: flex; flex-direction: column; text-align: center; align-items: center; color: white;">
        <h1 id="video-title" data-video="<%= @video.id %>"><%= @video.name %></h1>
        <p>by: <%= link_to @video.user.display_name, collection_path(@video.user.display_name) %></p>

        <% if current_user %>
        <% if policy(@video).destroy? %>
        <%= link_to "Edit video", edit_video_path(@video.url) %>
        <%= link_to "Delete video", video_path(@video.url), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <% end %>



        <video id="video" onplay="videoPlay()" class="video-js vjs-default-skin" controls>
          <source
          src="https://content.jwplatform.com/manifests/yp34SRmf.m3u8"
          type="application/x-mpegURL">
        </video>
        <p>Views: <%= @video.views %></p>
      </div>
    </div>
  </div>
</div>
</body>
