<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('home-banner.jpg')  %>);">
  <div class="banner-content">
    <h1>Moovy is just the best video platform in the world</h1>
    <p>Create your own videos and get popular as you ever dreamed</p>
    <%= link_to "Create a video", new_video_path %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="videos">
        <h1>Videos</h1>

      </div>
    </div>
  </div>
  <div class="video-cards">
    <div class="row">
      <% unless @videos.nil? %>
      <% @videos.each do |video| %>
      <div class="col-12 col-sm-6 col-md-3">
        <%= link_to video_path(video.url), class: 'video-card' do %>
          <%= cl_image_tag video.miniature, class: 'img-fluid' %>
          <div class="video-card-content">
            <%= video.name %>
          </div>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
